
    <!-- page heading -->

    <div class="bg-white px-5 sm:px-10">
        <div class="py-6 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between">
            <div>
                <p class="flex items-center text-yellow-400 text-xs">
                    <span>Home</span>
                    <span class="mx-2">&gt;</span>
                    <span>Students</span>
                </p>
                <h4 class="text-2xl font-bold leading-tight text-gray-800">
                    Students
                </h4>
            </div>
            <div class="mt-6 md:mt-0">
                <button class="bg-white transition focus:outline-none duration-150 ease-in-out hover:bg-yellow-500 bg-yellow-400 rounded text-white px-8 py-2 text-sm">
            View all students
          </button>
            </div>
        </div>
    </div>

    <!-- cards -->
    <div class="container w-11/12 mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 my-12 gap-8">
      <% @players.each do |player| %>

        <div class="bg-white shadow-md flex flex-col items-center p-8 rounded">
            <div class="h-24 w-24 p-2 bg-gray-100 rounded-full mb-1">
                <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_17.png" alt="" class="h-full w-full object-cover overflow-hidden rounded-full" />
            </div>
            <p class="mb-1 text-gray-800 text-base font-normal">
                <%= player.name %>
            </p>
<!--            <p class="mb-6 text-gray-600 text-xs">B.A. Business Administration</p>-->
            <div class="flex w-full justify-between mb-8">
                <div class="flex flex-col items-center w-4/12">
                    <p class="text-gray-600 text-2xl"><%= player.age %></p>
                    <p class="text-gray-800 text-sm">Age</p>
                </div>

                <div class="flex flex-col items-center w-4/12 border-r border-l border-gray-200">
                    <p class="text-gray-600 text-2xl"><%= player.level %></p>
                    <p class="text-gray-800 text-sm">LEVEL</p>
                </div>
                <div class="flex flex-col items-center w-4/12">
                    <p class="text-gray-600 text-2xl"><%= player.level_progress %></p>
                    <p class="text-gray-800 text-sm">XP</p>
                </div>
            </div>
            <button class="bg-gray-100 transition text-sm duration-150 ease-in-out hover:bg-gray-300 rounded text-yellow-400 px-6 py-2 text-xs focus:outline-none">
          View Profile
        </button>
        </div>
      <% end %>
    </div>
    <script>
        // Avatar Dropdown
        function dropdownHandler(element) {
            let single = element.getElementsByTagName("ul")[0];
            single.classList.toggle("hidden");
        }
        //Hamburger and mobile menu
        function MenuHandler(el, val) {
            let MainList = el.parentElement.parentElement.getElementsByTagName(
                "ul"
            )[0];
            let closeIcon = el.parentElement.parentElement.getElementsByClassName(
                "close-m-menu"
            )[0];
            let showIcon = el.parentElement.parentElement.getElementsByClassName(
                "show-m-menu"
            )[0];
            if (val) {
                MainList.classList.remove("hidden");
                el.classList.add("hidden");
                closeIcon.classList.remove("hidden");
            } else {
                showIcon.classList.remove("hidden");
                MainList.classList.add("hidden");
                el.classList.add("hidden");
            }
        }
    </script>
</body>

</html>