<div class="p-8">
  <h1>Country Selector</h1>
  <p class="text-gray-600">Click and drag to rotate the globe. Hold Shift while dragging to tilt the globe.</p>
  <p class="text-gray-600">Click on the correct country.</p>
  <p class="text-gray-600">Country: <span id='current-country'></span></p>
  <div id="container" style="position: relative; width: 800px; height: 500px;"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.9/datamaps.world.min.js"></script>
<!--<script src="globe_game.js"></script>-->
<% javascript_pack_tag 'globe_game' %>

<style>
    #container {
        margin: 0 auto;
        border: 1px solid #ccc;
        cursor: grab;
        background-color: white;
    }

    #container:active {
        cursor: grabbing;
    }

    .hoverinfo {
        padding: 4px;
        border-radius: 1px;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
        font-size: 12px;
    }
</style>