<div class="bg-white px-5 sm:px-10">
  <div class="py-6 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between">
    <div>
      <p class="flex items-center text-yellow-400 text-xs">
        <span>Home</span>
        <span class="mx-2">&gt;</span>
        <span>Games</span>
      </p>
      <h4 class="text-2xl font-bold leading-tight text-gray-800">
        Games
      </h4>
    </div>
  </div>
</div>

<!-- cards -->

<div class="container w-11/12 mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-12 gap-8">
  <%= render partial: 'game_tile', locals: { subject: 'spelling', image_path: 'pokemon_poster.jpg', name: 'Pokemon Spellcheck', path: pokemon_index_path } %>
  <%= render partial: 'game_tile', locals: { subject: 'math', image_path: 'math_blackboard.jpg', name: "Multiplication", path: game_new_simple_math_round_path(game_id: Game.simple_math.id, operator: 'multiplication') } %>
  <%= render partial: 'game_tile', locals: { subject: 'logic', image_path: 'collections.png', name: "Collections", path: game_new_collections_round_path(Game.collections.id) } %>
</div>

<script>
  // Avatar Dropdown
  function dropdownHandler(element) {
    let single = element.getElementsByTagName("ul")[0];
    single.classList.toggle("hidden");
  }

  //Hamburger and mobile menu
  function MenuHandler(el, val) {
    let MainList = el.parentElement.parentElement.getElementsByTagName(
      "ul"
    )[0];
    let closeIcon = el.parentElement.parentElement.getElementsByClassName(
      "close-m-menu"
    )[0];
    let showIcon = el.parentElement.parentElement.getElementsByClassName(
      "show-m-menu"
    )[0];
    if (val) {
      MainList.classList.remove("hidden");
      el.classList.add("hidden");
      closeIcon.classList.remove("hidden");
    } else {
      showIcon.classList.remove("hidden");
      MainList.classList.add("hidden");
      el.classList.add("hidden");
    }
  }
</script>
