<div class="bg-white px-5 sm:px-10">
  <div class="py-6 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between">
    <div>
      <p class="flex items-center text-yellow-400 text-xs">
        <span>Home</span>
        <span class="mx-2">&gt;</span>
        <span>Games</span>
      </p>
      <h4 class="text-2xl font-bold leading-tight text-gray-800">
        Games
      </h4>
    </div>
  </div>
</div>

<!-- cards -->

<div class="container w-11/12 mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-12 gap-8">
  <div>
    <%= link_to pokemon_index_path do %>
      <div class="bg-white shadow border border-gray-200 rounded transition duration-150 ease-in-out hover:shadow-lg cursor-pointer">
        <div class="relative w-full h-40">
          <!--        <img class="rounded-t z-0 w-full h-full absolute inset-0 object-cover" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_9.png" alt="banner"/>-->
          <%= image_tag 'pokemon_poster.jpg', class: 'rounded-t z-0 w-full h-full absolute inset-0 object-cover' %>
        </div>
        <div class="pt-5 w-full h-full">
          <div class="px-5 items-center justify-between mb-4">
            <p class="text-yellow-400 leading-3 tracking-normal text-sm font-normal">
              Spelling
            </p>
          </div>
          <h4 class="px-5 text-lg leading-5 font-bold tracking-normal text-gray-800 mb-2">
            Pokemon Spellcheck
          </h4>
          <p class="px-5 text-gray-600 text-sm font-normal tracking-normal leading-5 mb-4">
            <!--          12 Modules by<a href="#" class="text-yellow-400"> Silene Cox</a>-->
          </p>
          <div class="py-4 px-5 flex justify-between border-t border-gray-300">
            <p class="text-yellow-400 text-lg font-bold leading-5 tracking-normal">
              Level 1
            </p>
            <div class="flex items-center">
              <svg class="w-3 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                      d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z">
                </path>
              </svg>
              <svg class="w-3 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                      d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z">
                </path>
              </svg>
              <svg class="w-3 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                      d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z">
                </path>
              </svg>
              <svg class="w-3 mr-1 text-yellow-400 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                      d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z">
                </path>
              </svg>
              <svg class="w-3 text-gray-200 icon icon-tabler icon-tabler-star" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                      d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  // Avatar Dropdown
  function dropdownHandler(element) {
    let single = element.getElementsByTagName("ul")[0];
    single.classList.toggle("hidden");
  }

  //Hamburger and mobile menu
  function MenuHandler(el, val) {
    let MainList = el.parentElement.parentElement.getElementsByTagName(
      "ul"
    )[0];
    let closeIcon = el.parentElement.parentElement.getElementsByClassName(
      "close-m-menu"
    )[0];
    let showIcon = el.parentElement.parentElement.getElementsByClassName(
      "show-m-menu"
    )[0];
    if (val) {
      MainList.classList.remove("hidden");
      el.classList.add("hidden");
      closeIcon.classList.remove("hidden");
    } else {
      showIcon.classList.remove("hidden");
      MainList.classList.add("hidden");
      el.classList.add("hidden");
    }
  }
</script>
