<div class="mx-8 my-6">
  <h1 class="text-2xl font-bold">Create a new Prize</h1>


  <div x-data="prizeForm">
    <%= form_with model: @prize, html: { style: 'width: fit-content', id: 'user-form' } do |f| %>
      <div class="md:flex items-center mt-6">
        <div class="md:w-64">
          <label class="text-sm leading-none text-gray-800" id="firstName">First name</label>
          <%#= f.text_field :first_name, class: "w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800", ariaLabelledby: "firstName", placeholder: "John", tabIndex: 0 %>
        </div>
        <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
          <label class="text-sm leading-none text-gray-800" id="lastName">Last name</label>
          <%#= f.text_field :last_name, class: "w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800", ariaLabelledby: "lastName", placeholder: "Doe", tabIndex: 1 %>
        </div>
      </div>

      <div class="md:flex items-center mt-6">
        <div class="md:w-64">
          <label class="text-sm leading-none text-gray-800" id="birthday">Birthday</label>


          <div class="max-w-sm w-full">
            <%#= f.date_field :birthday, 'x-ref': 'picker', class: "w-full p-3 mt-3 bg-gray-100 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800", ariaLabelledby: "birthday", placeholder: "08/18/2018", tabIndex: 2 %>

          </div>
        </div>
      </div>

      <% if @prize&.errors&.any? %>
        <div id="error_explanation">

          <ul>
            <% @prize.errors.full_messages.each do |message| %>
              <li class="text-red-800 font-light mt-4"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-6 flex items-center justify-between">
        <button class="btn primary">
          <%= @prize.new_record? ? 'Add User' : 'Save' %>
        </button>
        <div class="flex items-center justify-between gap-3">
          <% if @prize.persisted? %>
            <button class="btn danger">
              Delete User
            </button>
          <% end %>
          <button class="btn secondary">
            <%= link_to 'Cancel', users_path %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>